body
{
  text-align: center;
  background-color: #a3ddcb;
  text-rendering: optimizeLegibility;
  font-family: Arial;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.Top-container
{
  background-color: #a3ddcb;
  padding-top: 100px;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0;
}
.middle-container
{
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  background-color: #d6efc7;
  padding-top: 100px;
  padding-right: auto;
  padding-left:auto;
  padding-bottom: 90px;
}
.Bottom-container
{
  background-color: #a3ddcb;
  padding-top: 10px;
  padding-bottom: 0;
}
.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.and
{
  color: brown;
}
.contact-me
{
  margin:10px 0;
  background-color: #a3ddcb;
  width: 40%;
  margin: 0 auto 0;
  padding-bottom: 20px;
}
.copyright
{
  font-size: 80%;
  color: #EAF6F6;
  padding: 20px auto 0 auto;
  margin-bottom: 2px;
}
.nube1
{
  position: absolute;
  right: 250px;
  top: 80px;
}
.nube2
{
  position: absolute;
  left: 250px;
  bottom: 450px;
}
.montaña
{
  height: 550px;
}
.foto
{
  height:300px;
}
.Soy
{
  font-size: 1rem;
}
.imagenhabilidad1
{
width: 25%;
float: left;
margin-right: 30px;
margin-top: 10px;
}
.imagenhabilidad2
{
  width: 25%;
  float: right;
  margin-left: 30px;
  margin-top: 10px;
}
.imagenhabilidad3
{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.titulo1
{
font-family: Sacramento, Yusei Magic, sans-serif;
font-size: 5.625rem;
margin: 50px auto 0 auto;
color: #184d47;
}
.titulo2
{
font-size: 2.5rem;
font-weight: normal;
padding-bottom: 10px; 
}
h2
{
  font-family: Yusei Magic, sans-serif;
  color: #184d47;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3
{
  font-family: 'Montserrat', sans-serif;
  color: #184d47;
}
p
{
  line-height: 2;
}
hr
{
  border-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width:15%;
}
a
{
  margin: 10px 20px;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
a:hover
{
  color:#184d47;
}
.btn
{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
